.customers {
    min-width: 480px;
    margin: 0 auto;
}
.customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.customers__item {
    @include max-tablet {
        flex-basis: calc((100% - 60px) / 3);
        width: 226px;
    }
    
     @include max-mobile {
        flex-basis: calc((100% - 30px) / 2);
        width: 210px;
    }

    @include min-desktop {
        flex-wrap: nowrap;
        width: 170px;
    }
}

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    height: 92px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__shape {
    fill: var(--icon-color);
    width: 106px;
    height: 60px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:focus {
    border: 1px solid var(--accent-color);
}

@include min-tablet {
    .customers__link:hover {
        border: 1px solid var(--accent-color);
    }
}

.customers__link:focus svg {
    fill: var(--accent-color);
}

@include min-tablet {
    .customers__link:hover svg {
        fill: var(--accent-color);
    }
}