.team {
    display: flex;
    justify-content: space-between;

    &>li {
        background-color: var(--lurge-title-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
}

.section-team {
    background-color: var(--section-color);
}

.card {
    background-color: var(--lurge-title-color);
}

%font {
    font-size: 16px;
    line-height: 1.2;
}

.desc {
    @extend %font;
}

.name {
    @extend %font;
    margin-bottom: 10px;

    font-weight: 500;
}

.team-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.team-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background-color: var(--lurge-title-color);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: var(--accent-color);
    }
}

.section-team a:hover svg,
.section-team a:focus svg {
    fill: var(--lurge-title-color);
}

.team-list svg {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}