:root {
    --primary-text-color: #757575;
    --lurge-title-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --header-logo-color: #000000;
    --hero-footer-color: #2F303A;
    --section-color: #F5F4FA;
    --a-color: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
}
